{
  "schemaVersion": "1.0",
  "artifacts": {
    "spp": {
      "version": "__VERSION__",
      "type": "executable",
      "variants": [
        {
          "path": "license-checker-__VERSION__-macos/bin/license-checker",
          "supportedTriples": [
            "x86_64-apple-macosx",
            "arm64-apple-macosx"
          ]
        }
      ]
    }
  }
}
